nav {
    position: absolute;
    z-index: 9;
      top: 0;
      width: 100%;
      padding: 0px 15px;
  }
  
  
  
nav span {
    font-weight: 600;
    letter-spacing: .085em;
  }
  
  
  
nav.scroll{
    background-color: #000000;
    color: white;
    position: fixed;
    padding: 0px 15px;
  }
nav.scroll .openbtn{
    color: black;
  }
nav.scroll .w-logo{
    display: none;
  }
nav.scroll .b-logo{
    display: block;
  }
  nav.scroll .nav-link{
    color: white;
  }
nav .b-logo{
    display: none;
  }
  
  
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 9;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px  32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    font-size: 60px;
  }
  
  .openbtn {
    font-size: 30px;
      cursor: pointer;
      color: white;
  }
  
  .sidepanel2  {
    width: 0;
    position: fixed;
    z-index: 9;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f3f3f3;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidepanel2 a {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  
  
  .sidepanel2 .closebtn {
    font-size: 40px;
  }
  
  
  .dropdown {
    /* float: left; */
    overflow: hidden;
  }
  
  /* .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  } */
  
  .dropdown-content {
    display: none;
    /* position: absolute; */
    /* background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #818181;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 22px;
    padding: 5px 50px;
  }
  
  /* .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  } */
  
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .snav {
    display: none;
    z-index: 1;
    position: absolute;
    top: 120px;
    left: 0px;
    width: 100%;
  }
  .snavp:hover .snav {
    display: block;
  }
  .pch {
    height: 1720px;
  }
  @media screen and (min-width: 1440px) {
    .pch {
      height: 2300px;
    }
  }
  .pch1 {
    height: 1420px;
  }
  @media screen and (min-width: 1440px) {
    .pch1 {
      height: 1720px;
    }
  }

  .nb:hover {
    border-bottom: 2px solid red;
  }
  active {
    border-bottom: 2px solid red;
  }

  ::-webkit-scrollbar {
    display: none;
}

  .pbg {
    background-image: url(/public/img/pbg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pbg2 {
    background-image: url(/public/img/pbg1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pbg3 {
    background-image: url(/public/img/opb.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
    

